html,
body {
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    color: #666;
    scroll-behavior: smooth;
}

a {
    color: black;
}

.btn {
    width: 5rem;
}

.section {
    text-align: center;
    padding: 50px 80px;
    background-color: #fafafa;
}

.parallex {
    text-align: center;
}

.parallex__image,
.parallex__image--4,
.parallex__image--3,
.parallex__image--2,
.parallex__image--1 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.7;
}

.parallex__image--1 {
    background-image: url("https://images.pexels.com/photos/373912/pexels-photo-373912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    min-height: 100%;
}

.parallex__image--2 {
    background-image: url("./Images/Hidden_Villages/Konoha.png");
    min-height: 500px;
}

.parallex__image--3 {
    background-image: url("./Images/Hidden_Villages/Kirigakure_HiddenMist.webp");
    min-height: 500px;
}

.parallex__image--4 {
    background-image: url("./Images/Hidden_Villages/Iwagakure_Hidden_Stone.webp");
    min-height: 500px;
}

.parallex__image--5 {
    background-image: url("./Images/Hidden_Villages/Sunagakure.png");
    min-height: 500px;
}

.parallex__image--6 {
    background-image: url("./Images/Hidden_Villages/Kumogakure.jpg");
    min-height: 500px;
}

.parallex__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parallex__heading {
    color: #fff;
    font-size: 300px;
    font-weight: 100;
    text-transform: uppercase;
}

.box {
    min-width: 800px;
    min-height: 200px;
    position: relative;
    background: #fff;
}

.box-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.box p {
    position: absolute;
    text-align: center;
    top: 38%;
    left: 43%;
}
.nav {
    padding: 1rem;
}

.characters img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    margin: 1rem;
    -webkit-box-shadow: 0px -2px 30px -7px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px -2px 30px -7px rgba(0, 0, 0, 0.28);
    box-shadow: 0px -2px 30px -7px rgba(0, 0, 0, 0.28);
}

video {
    margin: 1rem;
}